<%= render partial: 'layouts/navibar', locals: { boards: @boards } %>

<div>
  <h3 class="d-inline">
    <%= @board.title %>
  </h3>
  <div class="d-inline">
    <%= link_to "ボードEdit", edit_board_path(params[:id]),class:'btn btn-sm btn-success' %>
  </div>
  <div class="d-inline">
    <%= link_to "ボードDestroy", board_path(params[:id]),class:'btn btn-sm btn-danger', method: :delete ,data: { confirm: '本当に消しますか？' } %>
  </div>
</div>

<div class="mt-2">
  <%= form_with url: board_lists_path(@board.id), local:true do |f| %>
  <ul class="form-group">
    <div>
      リストname：<%= f.text_field :title_l %> <%= f.submit 'リスト作成' %>
    </div>
  </ul>
  <% end %>
</div>

<div class="bg-success">
  <div class="card-deck  p-2 board_lists">
      <% @board.lists.each do |list| %>
    <div class="card board_list">
      <div class="card-body">
        <h4 class="card-text"><%= list.title_l %></h4>
        <div class="mt-2">
          <%= form_with url: board_list_tasks_path(list.board_id,list.id), local:true do |f| %>
          <ul class="form-group">
            <div>
              タスクname：<%= f.text_field :title_t %> <%= f.submit 'タスク作成' %>
            </div>
          </ul>
          <% end %>
          <div class="mt-2 ">
            <div class="card-deck  p-2">
              <% list.tasks.each do |task| %>
               <div class="card board_list_task">
                  <div class="card-body">
                    <h4 class="card-text"><%= task.title_t%></h4>
                  </div>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>



