<div class="ml-5">
<h2 class="mb-5">カテゴリー</h2>
<div class="form-group">
  <%= form_with model:@categories,url: categories_path,  local:true do |f| %>
  <p>カテゴリー名　　<%= f.text_field :name, placeholder: "ジャンル名" %>　　<%= f.submit "新規登録", class: "btn btn-success" %></p>
  <% end %>

</div>


<table class='table w-50 mt-5 table-hover'>
  <thead>
    <tr>
      <th>ジャンル</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |f| %>
    <tr>
      <td><%= f.name %></td>
      <td>
        <%= link_to "編集する", edit_category_path(f.id), class: "btn btn-success" %>
      </td>
    </tr>
    <% end %>
  </tbody>


</table>

</div>

