<div class="ml-5 mt-5">
<h2>
  <td>レポート一覧</td>
  <td><%= link_to 'レポート新規作成',  new_report_path,class: "btn btn-outline-secondary text-dark" %></td>
  <td><%= link_to 'カテゴリー作成',  categories_path,class: "btn btn-outline-secondary text-dark" %></td>
</h2>
  <table class='table table-hover'>
    <thead>
      <tr>
        <th>ジャンル</th>
        <th>タイトル</th>
        <th>イメージ</th>
        <th>内容</th>
        <th>作成日時</th>
      </tr>
    </thead>
    <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td><%= report.category.name %></td>
        <td>
          <%= link_to report_path(report.id) do %>
            <%= truncate(report.title_r,length: 13)  %>
          <% end %>
        </td>
        <td>
         <%= attachment_image_tag(report, :image, :fill, 50, 50, fallback: "no_image.jpg", size:'50x50' ) %>
        </td>
        <td>
          <%= truncate(report.introduction_r,length: 33)  %>
        </td>
        <td>
          <%= report.created_at.to_s(:datetime_jp)  %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div class="center-block"><%= paginate @reports %></div>
</div>