<div class="container">
 <div class="row">
  <div class="col-sm-12 px-5">
    <h2 class="mt-5">レポート新規作成</h2>
      <%= form_with model:@report,url: reports_path,  local:true do |f| %>
      <table>
        <thead></thead>
          <tbody>
            <tr>
              <div class="form-group">
                <td><%= f.label :タイトル %></td>
                <td><%= f.text_field :title_r, placeholder: "タイトル" %> ※タイトル未入力の場合投稿出来ません</td>
              </div>
            </tr>
            <tr>
              <div class="form-group">
                <td><%= f.label :カテゴリー %></td>
                <td><%= f.collection_select(:category_id, Category.where(customer_id: current_customer), :id, :name, :prompt => "選択してください" ) %> ※カテゴリー未選択の場合投稿できません。カテゴリー未作成の場合、まずカテゴリーの作成をお願いします</td>
              </div>
            </tr>
            <tr>
              <div class="form-group">
                <td><%= f.label :内容 %></td>
                <td><%= f.text_area :introduction_r, placeholder: "ここに内容を記述します", :size=>"90x15" %></td>
              </div>
            </tr>
            <tr>
              <div class="form-group">
                <td><%= f.label :画像 %></td>
                <td><%= f.attachment_field :image, class: "form-control-file image" %></td>
              </div>
            </tr>

            <tr>
              <td><%= "タグ一覧" %></td>
              <td>
                <% @tag_list.each do |list| %>
                <%= list.tag_name %>
                <% end %>
              </td>
            </tr>

            <tr>
              <div class="form-group">
                <td><%= "タグ" %></td>
                <td><%=  f.text_field :tag_name %> スペースを入力することで複数のタグを付けることができます。</td>
            </tr>

            <tr>
              <div class="form-group">
                <td><%= f.submit '投稿する', class: 'btn btn-success' %></td>
              </div>
            </tr>
        </tbody>
      </table>
      <% end %>
  </div>

 </div>
</div>