<%= render partial: 'layouts/navibar', locals: {memos: @memos } %>
<div class="container">
 <div class="row">
  <div class="col-sm-12 px-5">
    <h2 class="mt-5"><%= @report.title_r %></h2>
    <h4><%= @report.category.name %></h4>

      <div>
        <%= attachment_image_tag(@report, :image, :fill, 300, 300, fallback: "no_image.jpg", size:'300x300') %>
      </div>

      <div>
        <%= @report.title_r %>
      </div>

      <div>
        <%= simple_format(h(@report.introduction_r)) %>
      </div>
      <div>
        <%= link_to '編集する',edit_report_path(@report) ,class: "btn btn-sm text-dark" %>
        <%= link_to '削除する',report_path,class: "btn btn-sm text-dark", method: :delete ,data: { confirm: '本当に消しますか？' } %>
      </div>
  </div>
 </div>
</div>