<div class="bg-secondary">
  <div class="m-0">
    　<div class="text-center">
        <%= form_with url: memo_path, local:true do |f| %>
        <div>
          <div><%= f.text_area :memo, :size=>"100x1" %></div>
          <div><%= f.submit 'メモ書き' %></div>
          <% end %>
        </div>
      <div>
        <div class="text-center">
          <% memos.each do |f| %>
            <tr>
              <%= f.memo %><%="　"%>
            </tr>
          <% end %>
         </div>
      </div>
      </div>
    </div>
  </div>