<!DOCTYPE html>
<html>
  <head>
    <title>Parkinglot</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
       <div class="container">
         <ul class="navbar-nav ml-auto">
            <% if customer_signed_in? %>
            <li><%= link_to 'Top', root_path,class: "btn btn-sm text-dark fas fa-home " %></li>
            <li><%= link_to 'Board', boards_path,class: "btn btn-sm text-dark fas fa-home " %></li>
            <li><%= link_to 'Report', reports_path,class: "btn btn-sm text-dark fas fa-home " %></li>
            <li><%= link_to 'Sign_out', destroy_customer_session_path, method: :delete,class: "btn btn-sm text-dark " %></li>
            <% elsif admin_signed_in? %>
            <li><%= link_to 'TOP', root_path,class: "btn btn-sm text-dark fas fa-home " %></li>
            <li><%= link_to 'Sign_out', destroy_admin_session, method: :delete,class: "btn btn-sm text-dark " %></li>
            <% else %>
            <li><%= link_to 'TOP', root_path,class: "btn btn-sm text-dark fas fa-home " %></li>
            <li><%= link_to 'Admin', new_admin_session_path,class: "btn btn-sm text-dark fas fa-sign-in-alt  " %></li>
            <li><%= link_to 'Sign_in',new_customer_session_path,class: "btn  btn-sm text-dark fas fa-sign-in-alt " %></li>
            <li><%= link_to 'Sign_up', new_customer_registration_path,class: "btn  btn-sm text-dark fas fa-user-plus " %></li>
            <% end %>
         </ul>
       </div>
      </nav>
    </header>

    <main>
    <%= yield %>
    </main>
  </body>
</html>
